<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.856778330210-htad1cupfrdlf3nl7mfarfun99kuenai</string>
            </array>
        </dict>
    </array>
	<key>CLIENT_ID</key>
	<string>856778330210-htad1cupfrdlf3nl7mfarfun99kuenai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856778330210-htad1cupfrdlf3nl7mfarfun99kuenai</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856778330210-ivbkop282dj7causf88ujrm3hcs1ar2n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmZf4xnnZYXun58gAzN_c8lfemOOhJa0I</string>
	<key>GCM_SENDER_ID</key>
	<string>856778330210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piekarskipiotr.payflix</string>
	<key>PROJECT_ID</key>
	<string>payflix-339c8</string>
	<key>STORAGE_BUCKET</key>
	<string>payflix-339c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856778330210:ios:681a08eb8b2e4e6b6e413b</string>
</dict>
</plist>